<!--Render this when not sorted yet.-->
<div class="content" *ngIf="!sorted">
  <h1>Battlesnake Sorting Hat!</h1>
  <p>Can't decide which Caster House to join? Click the hat to be placed into a random house!</p>
  <img src="../../assets/img/hat.png" class="hat-img" height="500" width="500" (click)="sortIntoHouse()"/>
</div>

<!--Render this after sorted.-->
<div class="content" *ngIf="sorted && house">
  <img class="banner" width="500" height="55" src={{house.banner}} />
  <img class="flag" width="500" height="500" src={{house.image}} />
  <p>You have been sorted into the <span class="bold">House of {{house.name}}!</span></p>
  <p class="description">{{house.description}}</p>
  <p>To show your support for your new house, customise your snake with these values:</p>
  <pre><code>
{{'{'}}
  color: {{house.colour}},
  head: {{house.head}}
{{'}'}}
  </code></pre>
  <p class="battlesnake-button" (click)="reset()">Try Again?</p>
</div>
